################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/trendsdotnet/obj
/.vs
/trendsdotnet/bin/Debug/netcoreapp3.1
/trendstests/bin/Debug/netcoreapp3.1
/trendstests/obj
/trendsdotnet/bin/Debug/trendsdotnet.1.0.0.nupkg
